{% extends 'knp_menu.html.twig' %}

<ul>
    <li ><a href="{{path('Swe_HDpatient_homepage')}}"><span class="glyphicon glyphicon-user"></span>HD PATIENTS </a></li>
    <li ><a href="{{path('Swe_Consultingpatient_homepage')}}"><span class="glyphicon glyphicon-user"></span>CONSULTING PATIENTS </a></li>
    <li class="current first"><a href="{{path('Swe_invoice_homepage')}}"> <span class="glyphicon glyphicon-usd"></span> INVOICES</a></li>
    <li ><a href="{{path('Swe_organism_homepage')}}"> <span class="glyphicon glyphicon-usd"></span> ORGANISMS</a></li>
</ul>